<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8wtQiwrN5MEjBVUZMKvR1L0a9YhTGXqs</string>
	<key>GCM_SENDER_ID</key>
	<string>324186704818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sps.VehicalInsuranceProject</string>
	<key>PROJECT_ID</key>
	<string>vehicleinsuranceproj</string>
	<key>STORAGE_BUCKET</key>
	<string>vehicleinsuranceproj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324186704818:ios:125a3bc86ba8d626a332ab</string>
</dict>
</plist>